* {
	margin: 0;
	padding: 0;
	font-size: 125%;
}
body {
	padding-bottom: 4em;
}
div {
	padding: 0.5em;
}
label {
	font-family: Verdana;
	background-color: #cce;
	padding: 0.25em;
	display: block;
}
input[type=text] {
	font-family: monospace;
	border: 0.25em solid #cce;
	border-radius: 0;
	border-top: none;
	padding: 0.25em;
	display: block;
	width: calc(100% - 1em);
}
footer {
	position: fixed;
	bottom: 0;
	background: #eee;
	text-align: center;
	width: 100%;
	padding: 0.5em;
}
